.footer {
  padding: 40px 20px 25px 20px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px 30px 60px;
    align-items: center;
  }
}

.footer__hash {
  font-size: 21px;
  display: block;
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .footer__hash {
    margin-bottom: 0;
  }
}

.footer-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .footer-buttons {
    margin-bottom: 0;
  }
}

.footer-buttons__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 155px;
  display: flex;
  justify-content: space-between;
}

.footer-buttons__link {
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
  text-decoration: none;
}
.footer-buttons__link:hover {
  background-color: rgb(102, 158, 192);
}
.footer-buttons__link:active {
  background-color: rgb(84, 150, 189);
}
.footer-buttons__link:active svg {
  opacity: 0.3;
}

.footer-buttons__link--twitter {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 19px;
  height: 28px;
  transform: translate(-50%, -50%);
  fill: #ffffff;
}

.footer-buttons__link--facebook {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 26px;
  transform: translate(-50%, -50%);
  fill: #ffffff;
}

.footer-buttons__link--youtube {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 30px;
  transform: translate(-50%, -50%);
  fill: #ffffff;
}

.footer-log {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-log__by {
  margin-right: 10px;
}