.block-form__title {
  text-align: center;
  padding: 30px 20px 30px 20px;
  max-width: 350px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .block-form__title {
    padding-top: 50px;
  }
}

@media (min-width: 768px) {
  .block-form__title--title {
    font-size: 30px;
  }
}

.block-form__intro {
  max-width: 350px;
  margin: 0 auto;
  padding: 0px 10px 20px 10px;
  text-align: center;
}

.form {
  border-top: 1px solid #d6d6d6;
}
@media (min-width: 768px) {
  .form {
    border-top: none;
  }
}

.form-review {
  padding: 0 15px 25px 15px;
  border-bottom: 1px solid #d6d6d6;
}
@media (min-width: 768px) {
  .form-review {
    border-top: none;
  }
}

.form-review__title {
  text-align: center;
  margin: 20px 0;
}

.form-review__title--title {
  font-size: 18px;
}
@media (min-width: 768px) {
  .form-review__title--title {
    font-size: 21px;
  }
}

.form-review__item {
  display: flex;
}

.form-review__label {
  align-self: center;
}

.form-review__input {
  width: 100%;
  height: 58px;
  margin-left: 10px;
  border: none;
  background-color: #f2f2f2;
}

.form-review--bold {
  color: #000000;
  padding-left: 10px;
}

.form-contact {
  padding: 0 15px 25px 15px;
  border-bottom: 1px solid #d6d6d6;
}
@media (min-width: 768px) {
  .form-contact {
    border-top: none;
  }
}

.form-contact__input {
  width: 75%;
  height: 58px;
  border: none;
  background-color: #f2f2f2;
  padding: 0 0 0 10px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.form-contact__title {
  text-align: center;
  margin: 20px 0;
}

.form-contact__title--title {
  font-size: 18px;
}
@media (min-width: 768px) {
  .form-contact__title--title {
    font-size: 21px;
  }
}

.form-contact__label {
  margin-left: 15px;
  line-height: 21px;
  display: block;
}

.form-contact__item {
  margin: 0;
}

.form__icon {
  display: inline-block;
  width: 58px;
  height: 58px;
  margin-left: -3px;
  vertical-align: middle;
  background-color: #e5e5e5;
  background-repeat: no-repeat;
  background-position: center;
}

.form__icon--telephone {
  background-image: url(../img/icon-phone.svg);
}

.form__icon--email {
  background-image: url(../img/icon-mail.svg);
}

.form-impression {
  padding: 0 15px 25px 15px;
  border-bottom: 1px solid #d6d6d6;
}
@media (min-width: 768px) {
  .form-impression {
    border-top: none;
  }
}

.form-impression__title {
  text-align: center;
  margin: 20px 0;
}

.form-impression__title--title {
  font-size: 18px;
}
@media (min-width: 768px) {
  .form-impression__title--title {
    font-size: 21px;
  }
}

.form-impression__label {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.form-impression-indicator {
  position: relative;
  display: block;
  width: 56px;
  height: 56px;
  margin-right: 22px;
  background-color: #f2f2f2;
}

.form-impression__input--radio:checked + .form-impression-indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 22px;
  height: 22px;
  margin-top: -11px;
  margin-left: -11px;
  background-color: #333333;
  border-radius: 50%;
}

.form-impression:hover + .form-impression-indicator,
.form-impression:focus + .form-impression-indicator {
  background-color: #D5D5D5;
}

.form-impression-indicator--radio {
  border-radius: 50%;
}

.form-places {
  padding: 0 15px 25px 15px;
  border-bottom: 1px solid #d6d6d6;
}
@media (min-width: 768px) {
  .form-places {
    border-top: none;
  }
}

.form-impression__input--checkbox:checked + .form-impression-indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 24px;
  height: 16px;
  margin-top: -8px;
  margin-left: -12px;
  background: url("../img/icon-tick.svg") no-repeat;
}

.form-impression__input--checkbox:checked + .form-impression-indicator:active::before {
  opacity: 0.3;
}

.form-emotion {
  margin: 0 30px 50px 20px;
}

.form-emotion__input {
  width: 100%;
  min-width: 0;
  padding-top: 20px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 18px;
  background-color: #f2f2f2;
  border: none;
  min-height: 160px;
  resize: none;
}

@media (max-width: 768px) {
  .necessarily-field {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -10px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}