.features {
  min-width: 320px; }

.features__title {
  width: 285px;
  padding: 55px 0;
  margin: auto;
  align-items: center;
  vertical-align: middle; }
  @media (min-width: 768px) {
    .features__title {
      width: 520px;
      margin: auto;
      text-align: center; } }

.features__title--title {
  font-size: 18px;
  line-height: 26px; }

.features__intro {
  width: 285px;
  padding-bottom: 40px;
  margin: auto;
  align-items: center; }
  @media (min-width: 768px) {
    .features__intro {
      width: 520px;
      margin: auto;
      text-align: center; } }

.features__intro--intro {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal; }

.features__list {
  min-width: 320px;
  display: grid;
  grid-template-rows: 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; }
  @media (min-width: 768px) {
    .features__list {
      display: flex;
      text-align: center;
      flex-wrap: wrap; } }

.features__item {
  padding: 27px 0; }

.features__item--first {
  background-color: #81b3d2;
  color: white; }

.features__image {
  max-height: 260px; }

.features__item--second {
  background-color: #EEEEEE; }
