.video__title {
  text-align: center;
  padding: 30px 20px 30px 20px;
  max-width: 350px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .video__title {
    padding-top: 50px;
  }
}

.video__intro {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .video__intro {
    max-width: 370px;
    margin-bottom: 80px;
  }
}

.video-frame--wrapper {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .video-frame--wrapper {
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .video-frame--wrapper {
    padding: 0 200px;
  }
}

.video-frame__image {
  height: 200px;
}
@media (min-width: 768px) {
  .video-frame__image {
    height: 500px;
  }
}

.video-frame__options {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -50px;
}
@media (min-width: 768px) {
  .video-frame__options {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .video-frame__options {
    padding-left: 200px;
    padding-right: 200px;
  }
}

.video-frame__timer {
  position: relative;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
}
.video-frame__timer::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 84%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}
.video-frame__timer::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 22%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .video-frame__timer {
    height: 93px;
  }
  .video-frame__timer::before {
    position: absolute;
    top: 50%;
    left: 14.3%;
    transform: none;
    width: 60%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.video-frame__function {
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  height: 70px;
}
@media (min-width: 768px) {
  .video-frame__function {
    margin-top: -80px;
    background-color: transparent;
  }
}

.video-frame__repeat {
  border: none;
  cursor: pointer;
  fill: #5C6870;
  padding: 0;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .video-frame__repeat {
    background-color: transparent;
    fill: #ffffff;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.video-frame__subtitles {
  border: none;
  cursor: pointer;
  fill: #5C6870;
  padding: 0;
  margin-left: auto;
  margin-right: 4.5%;
}
@media (min-width: 768px) {
  .video-frame__subtitles {
    background-color: transparent;
    fill: #ffffff;
  }
}

.video-frame__fullscreen {
  border: none;
  cursor: pointer;
  fill: #5C6870;
  padding: 0;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .video-frame__fullscreen {
    background-color: transparent;
    fill: #ffffff;
    margin-right: 6.2%;
  }
}