@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -10px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
}
.page__body {
  min-height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.page-header {
  height: auto;
}
.page-header__logo {
  height: 62px;
}
.page-header__logo-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  margin: auto;
  background-color: transparent;
}
@media (min-width: 768px) {
  .page-header__logo-image {
    width: 450px;
  }
}
@media (min-width: 1200px) {
  .page-header__logo-image {
    width: 700px;
  }
}
.page-header__toggle {
  position: absolute;
  right: 5%;
  bottom: 30%;
  width: 23px;
  height: 23px;
  padding: 0;
  display: block;
  content: "";
  cursor: pointer;
  border: none;
}
.page-header__toggle::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
}
@media (min-width: 768px) {
  .page-header__toggle {
    display: none;
  }
}

.main-nav__list {
  display: grid;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.main-nav__list :nth-child(3) {
  order: 1;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
  }
  .main-nav__list :nth-child(3) {
    order: 0;
  }
}

.main-nav__list a {
  color: white;
  text-decoration: none;
}
@media (max-width: 767px) {
  .main-nav__list a:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 768px) {
  .main-nav__list a {
    color: black;
  }
  .main-nav__list a:hover {
    color: #81B3D2;
  }
  .main-nav__list a:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.site-list :nth-child(3) {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .site-list :nth-child(3) {
    position: relative;
    margin: 0 auto;
    padding: 0 auto;
  }
}
@media (min-width: 768px) {
  .site-list {
    background-color: white;
  }
}
.site-list__item {
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}
.site-list__item--item {
  width: 100%;
  font-weight: bold;
  background-color: rgb(129, 179, 210);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .site-list__item--item:hover {
    background-color: #669EC0;
  }
  .site-list__item--item:active {
    background-color: #5496BD;
  }
}
@media (min-width: 768px) {
  .site-list__item--item {
    border: none;
    background-color: #ffffff;
  }
}
@media (min-width: 768px) {
  .site-list__item--active a {
    color: rgb(118, 99, 87);
  }
  .site-list__item--active a:hover {
    color: rgb(96, 78, 67);
  }
  .site-list__item--active a:active {
    color: rgba(118, 99, 87, 0.3);
  }
}
.site-list__item--shadow {
  box-shadow: inset 0px -7px 10px -5px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .site-list__item--shadow {
    box-shadow: none;
  }
}

.open {
  display: none;
}
@media (min-width: 768px) {
  .open {
    display: inline-block;
  }
}

.main-nav_close-button {
  position: absolute;
  top: 17px;
  right: 10px;
  width: 22px;
  height: 22px;
  content: "";
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.main-nav_close-button::before, .main-nav_close-button::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 0;
  width: 22px;
  height: 3px;
  background-color: rgb(255, 255, 255);
}
.main-nav_close-button::before {
  transform: rotate(45deg);
}
.main-nav_close-button::after {
  transform: rotate(-45deg);
}
@media (min-width: 767px) {
  .main-nav_close-button {
    display: none;
  }
}

.page-main {
  background-color: #ffffff;
}

.view {
  display: grid;
  grid-template-rows: 3fr 1fr;
  min-height: 389px;
  min-width: 320px;
}
@media (min-width: 768px) {
  .view {
    min-height: 490px;
  }
}
@media (min-width: 1200px) {
  .view {
    min-height: 518px;
  }
}
.view--bg-back {
  background-color: lightblue;
  background: url(../img/bg-back-mobile@2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  .view--bg-back {
    background: url(../img/bg-back-tablet@2x.jpg);
    background-repeat: no-repeat;
    background-position: center -150px;
  }
}
@media (min-width: 1200px) {
  .view--bg-back {
    background: url(../img/bg-back-desktop@2x.jpg);
    background-repeat: no-repeat;
    background-position: center -150px;
  }
}
.view__promo {
  margin-top: 50px;
  background-image: url(../img/text-sedona-index.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.view .view__mask {
  background-image: url(../img/bg-intro-triangle-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  .view .view__mask {
    background: url(../img/bg-intro-triangle-tablet.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media (min-width: 1200px) {
  .view .view__mask {
    background: url(../img/bg-intro-triangle-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.features {
  min-width: 320px;
}
.features__title {
  padding: 55px 50px 55px 50px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .features__title {
    width: 520px;
    margin: auto;
    text-align: center;
  }
}
.features__intro {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 60px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}
@media (min-width: 768px) {
  .features__intro {
    width: 520px;
    margin: auto;
    text-align: center;
  }
}
.features__list {
  min-width: 320px;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}
@media (min-width: 768px) {
  .features__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: 0;
  }
  .features__list :nth-child(2) {
    grid-column: 2/-1;
  }
  .features__list :nth-child(6) {
    grid-column: 1/-2;
  }
}
.features__item {
  padding: 27px 20px;
}
@media (min-width: 768px) {
  .features__item {
    min-height: 156px;
    padding: 40px 20px 30px;
  }
}
.features__item--icon {
  min-height: 124px;
  padding: 5px 40px 5px 65px;
  margin: 0;
  text-align: start;
}
@media (min-width: 768px) {
  .features__item--icon {
    padding: 0;
    padding-top: 118px;
    padding-bottom: 40px;
    text-align: center;
  }
}
.features__item--bg-blue {
  background-color: #81b3d2;
  color: white;
}
.features__item--bd-gray {
  background-color: #EEEEEE;
  border-bottom: 1px solid #d6d6d6;
}
.features__image {
  max-width: 100%;
  max-height: 260px;
}
@media (min-width: 768px) {
  .features__cause {
    max-width: 220px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 15px auto;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .features__cause {
    max-width: 260px;
  }
}
.features__title-cause {
  position: relative;
}
.features__title-cause--home::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -46px;
  width: 37px;
  height: 36px;
  background-image: url(../img/icon-house.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .features__title-cause--home::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 50%;
    width: 75px;
    height: 72px;
    margin-left: -37.5px;
  }
}
.features__title-cause--gift::before {
  content: "";
  position: absolute;
  top: -11px;
  left: -42px;
  width: 32px;
  height: 38px;
  background-image: url(../img/icon-gift.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .features__title-cause--gift::before {
    content: "";
    position: absolute;
    top: -104px;
    left: 50%;
    width: 64px;
    height: 76px;
    margin-left: -37.5px;
  }
}
.features__title-cause--food::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -47px;
  width: 38px;
  height: 34px;
  background-image: url(../img/icon-burger.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .features__title-cause--food::before {
    content: "";
    position: absolute;
    top: -98px;
    left: 50%;
    width: 77px;
    height: 70px;
    margin-left: -38.5px;
  }
}

.reason__image {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.booking {
  min-width: 320px;
  margin: 35px auto 50px;
}
@media (min-width: 768px) {
  .booking {
    width: 100%;
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .booking {
    width: 100%;
  }
}
.booking__title {
  width: 261px;
  height: 40px;
  margin: auto;
  text-align: center;
}
.booking__description {
  min-width: 230px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .booking__description {
    padding: 0 150px;
  }
}
.booking__button {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 16px 20px 18px 20px;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  font-weight: bold;
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .booking__button {
    width: 460px;
  }
}
.booking__button:hover {
  background-color: rgb(102, 158, 192);
}
.booking__button:active {
  background-color: rgb(84, 150, 189);
  color: rgba(255, 255, 255, 0.3);
}

.map {
  background: url(../img/bg-map-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  .map {
    background: url(../img/bg-map-tablet@1x.jpg);
    background-repeat: no-repeat;
  }
}
@media (min-width: 1200px) {
  .map {
    background: url(../img/bg-map-desktop@1x.jpg);
    background-repeat: no-repeat;
  }
}

.footer {
  padding: 40px 20px 25px 20px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px 30px 60px;
    align-items: center;
  }
}
.footer__hash {
  display: block;
  text-align: center;
  margin-bottom: 40px;
  font-size: 21px;
}
@media (min-width: 768px) {
  .footer__hash {
    margin-bottom: 0;
  }
}
.footer-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .footer-buttons {
    margin-bottom: 0;
  }
}
.footer-buttons__list {
  display: flex;
  justify-content: space-between;
  width: 155px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-buttons__link {
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
  text-decoration: none;
}
.footer-buttons__link:hover {
  background-color: rgb(102, 158, 192);
}
.footer-buttons__link:active {
  background-color: rgb(84, 150, 189);
}
.footer-buttons__link:active svg {
  opacity: 0.3;
}
.footer-buttons__link--twitter {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 19px;
  height: 28px;
  transform: translate(-50%, -50%);
  fill: #ffffff;
}
.footer-buttons__link--facebook {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 26px;
  transform: translate(-50%, -50%);
  fill: #ffffff;
}
.footer-buttons__link--youtube {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 30px;
  transform: translate(-50%, -50%);
  fill: #ffffff;
}
.footer-log {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-log__by {
  margin-right: 10px;
}

.photo {
  list-style: none;
}
.photo__title {
  font-size: 18px;
}
@media (min-width: 768px) {
  .photo__title {
    font-size: 30px;
    line-height: 26px;
  }
}
.photo__title__wrapper {
  max-width: 450px;
  padding: 30px 20px 30px 20px;
  margin: 0 auto 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .photo__title__wrapper {
    padding: 40px 150px 40px 150px;
  }
}
.photo-block {
  max-width: 100%;
  padding-top: 20px;
  border-top: 1px solid #d6d6d6;
}
@media (min-width: 768px) {
  .photo-block {
    border-top: none;
  }
}
.photo-block__list {
  padding: 0;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .photo-block__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 60px;
    padding-right: 60px;
  }
  .photo-block__list :nth-child(1) {
    grid-column: 1/-1;
  }
}
@media (min-width: 1200px) {
  .photo-block__list {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 60px;
    padding-right: 60px;
  }
}
.photo-block__item {
  display: block;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d6d6d6;
}
@media (min-width: 768px) {
  .photo-block__item {
    margin-bottom: 0px;
    padding: 0px;
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  .photo-block__item {
    position: relative;
    margin-bottom: -6px;
  }
}
.photo-block__image {
  height: 280px;
  min-width: 280px;
  object-fit: cover;
}
@media (min-width: 1200px) {
  .photo-block__image--big {
    height: 400px;
  }
}
.photo-block__title {
  margin: 10px 0;
}
.photo-block__author {
  margin: 0;
  margin-bottom: 10px;
  text-transform: none;
}
.photo-block__info {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .photo-block__info {
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin-top: -6px;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1200px) {
  .photo-block__info {
    position: absolute;
    left: 0;
    bottom: 5px;
    z-index: 1;
    max-width: 1080px;
    width: 100%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }
}
@media (min-width: 1200px) {
  .photo-block__info__wrapper {
    padding-left: 15px;
  }
}
.photo-block__button {
  border: none;
  opacity: 0.3;
  background: none;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .photo-block__button {
    fill: #ffffff;
    opacity: 1;
  }
}
.photo-block__button__wrapper {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .photo-block__button__wrapper {
    padding-right: 25px;
  }
}

.liked {
  fill: red;
  opacity: 1;
}

.video__title {
  max-width: 350px;
  margin: 0 auto;
  padding: 30px 20px 30px 20px;
  text-align: center;
  font-size: 18px;
}
@media (min-width: 768px) {
  .video__title {
    max-width: 400px;
    padding-top: 50px;
    font-size: 30px;
    line-height: 26px;
  }
}

.video__intro {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .video__intro {
    max-width: 390px;
    margin-bottom: 80px;
  }
}

.video-frame--wrapper {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .video-frame--wrapper {
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .video-frame--wrapper {
    padding: 0 200px;
  }
}

.video-frame__image {
  height: 200px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .video-frame__image {
    height: 500px;
  }
}

.video-frame__options {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -50px;
}
@media (min-width: 768px) {
  .video-frame__options {
    padding-left: 60px;
    padding-right: 60px;
    margin-top: -99px;
  }
}
@media (min-width: 1200px) {
  .video-frame__options {
    padding-left: 200px;
    padding-right: 200px;
  }
}

.video-frame__timer {
  position: relative;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
}
.video-frame__timer::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 84%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}
.video-frame__timer::after {
  content: "";
  position: absolute;
  top: 51%;
  left: 22%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .video-frame__timer {
    height: 93px;
  }
  .video-frame__timer::before {
    position: absolute;
    top: 50%;
    left: 14.3%;
    transform: none;
    width: 60%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.video-frame__function {
  position: relative;
  display: flex;
  height: 70px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .video-frame__function {
    margin-top: -80px;
    background-color: transparent;
  }
}

.video-frame__repeat {
  padding: 0;
  margin-left: 20px;
  border: none;
  cursor: pointer;
  fill: rgb(92, 104, 112);
}
.video-frame__repeat:hover {
  fill: rgb(51, 51, 51);
}
.video-frame__repeat:active {
  fill: rgb(51, 51, 51);
  opacity: 0.3;
}
@media (min-width: 768px) {
  .video-frame__repeat {
    margin-left: 5%;
    margin-right: 5%;
    background-color: transparent;
    fill: #ffffff;
  }
  .video-frame__repeat:hover {
    fill: rgb(255, 255, 255);
    opacity: 0.6;
  }
  .video-frame__repeat:active {
    fill: rgb(255, 255, 255);
    opacity: 0.3;
  }
}

.video-frame__subtitles {
  padding: 0;
  margin-left: auto;
  margin-right: 4.5%;
  border: none;
  cursor: pointer;
  fill: #5C6870;
}
.video-frame__subtitles:hover {
  fill: rgb(51, 51, 51);
}
.video-frame__subtitles:active {
  fill: rgb(51, 51, 51);
  opacity: 0.3;
}
@media (min-width: 768px) {
  .video-frame__subtitles {
    background-color: transparent;
    fill: #ffffff;
  }
  .video-frame__subtitles:hover {
    fill: rgb(255, 255, 255);
    opacity: 0.6;
  }
  .video-frame__subtitles:active {
    fill: rgb(255, 255, 255);
    opacity: 0.3;
  }
}

.video-frame__fullscreen {
  padding: 0;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  fill: #5C6870;
}
.video-frame__fullscreen:hover {
  fill: rgb(51, 51, 51);
}
.video-frame__fullscreen:active {
  fill: rgb(51, 51, 51);
  opacity: 0.3;
}
@media (min-width: 768px) {
  .video-frame__fullscreen {
    margin-right: 6.2%;
    background-color: transparent;
    fill: #ffffff;
  }
  .video-frame__fullscreen:hover {
    fill: rgb(255, 255, 255);
    opacity: 0.6;
  }
  .video-frame__fullscreen:active {
    fill: rgb(255, 255, 255);
    opacity: 0.3;
  }
}

.block-form__title {
  max-width: 350px;
  padding: 30px 20px 30px 20px;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 768px) {
  .block-form__title {
    padding-top: 50px;
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .block-form__title {
    padding-top: 100px;
  }
}

.block-form__intro {
  max-width: 350px;
  margin: 0 auto;
  padding: 0px 10px 20px 10px;
  text-align: center;
}
@media (min-width: 768px) {
  .block-form__intro {
    padding: 0px 10px 80px 10px;
    max-width: 440px;
  }
}
@media (min-width: 1200px) {
  .block-form__intro {
    padding-bottom: 60px;
  }
}

.form {
  border-top: 1px solid #d6d6d6;
}
@media (min-width: 768px) {
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 60px;
    border-top: none;
  }
}
@media (min-width: 1200px) {
  .form {
    margin: 0 120px;
  }
}
.form-review {
  padding: 0 15px 25px 15px;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .form-review {
    grid-column: 2/3;
    position: relative;
    margin-bottom: 0px;
    border-bottom: none;
  }
  .form-review::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 1px;
    width: 292px;
    background-color: #e5e5e5;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
}
@media (min-width: 1200px) {
  .form-review {
    padding-left: 80px;
  }
}
.form-review__title {
  margin: 20px 0 20px 0;
  text-align: center;
  font-size: 18px;
}
@media (min-width: 768px) {
  .form-review__title {
    margin: 0 0 50px 0;
    font-size: 21px;
  }
}
.form-review__item {
  display: flex;
  height: 56px;
}
@media (min-width: 768px) {
  .form-review__item {
    margin: 0 0 20px 0;
  }
}
.form-review__label {
  align-self: center;
}
.form-review__input {
  width: 100%;
  height: 58px;
  margin-left: 10px;
  border: none;
  background-color: #f2f2f2;
}
.form-review__input:hover {
  background-color: rgb(229, 229, 229);
}
.form-review__input:focus {
  background-color: rgb(255, 255, 255);
  border: 4px solid rgb(229, 229, 229);
  outline: none;
  box-sizing: border-box;
}
.form-review__input::placeholder {
  color: rgb(0, 0, 0);
}
.form-review--bold {
  padding-left: 10px;
  font-weight: bold;
  color: #000000;
}
.form-contact {
  padding: 0 15px 25px 15px;
  border-bottom: 1px solid #d6d6d6;
}
@media (min-width: 768px) {
  .form-contact {
    grid-column: 1/-1;
    padding-top: 45px;
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  .form-contact {
    margin-bottom: 25px;
  }
}
.form-contact__input {
  width: 100%;
  height: 58px;
  padding: 0 0 0 10px;
  margin-bottom: 15px;
  margin-top: 10px;
  border: none;
  background-color: #f2f2f2;
}
.form-contact__input:hover {
  background-color: rgb(229, 229, 229);
}
.form-contact__input:focus {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border: 4px solid rgb(229, 229, 229);
  outline: none;
}
.form-contact__input::placeholder {
  color: rgb(0, 0, 0);
}
@media (min-width: 768px) {
  .form-contact__input {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .form-contact__input {
    width: 315px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.form-contact__label {
  display: block;
  margin-left: 15px;
  line-height: 21px;
}
@media (min-width: 1200px) {
  .form-contact__label {
    margin-left: 0;
    margin-right: 15px;
  }
}
@media (min-width: 1200px) {
  .form-contact__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.form-contact__item {
  position: relative;
  margin: 0;
  padding-right: 10px;
}
@media (min-width: 1200px) {
  .form-contact__item {
    display: flex;
    align-items: center;
  }
}
.form__title {
  position: relative;
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .form__title {
    font-size: 21px;
  }
  .form__title::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    height: 1px;
    width: 30%;
    background: #e5e5e5;
  }
  .form__title::after {
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    height: 1px;
    width: 30%;
    background: #e5e5e5;
  }
}
@media (min-width: 1200px) {
  .form__title {
    margin-bottom: 70px;
  }
}
.form__icon {
  position: absolute;
  top: 31px;
  right: 0;
  display: inline-block;
  width: 58px;
  height: 58px;
  vertical-align: middle;
  background-color: #e5e5e5;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 1200px) {
  .form__icon {
    position: absolute;
    top: 0;
    right: 5px;
  }
}
.form__icon--telephone {
  background-image: url(../img/icon-phone.svg);
}
.form__icon--email {
  background-image: url(../img/icon-mail.svg);
}
.form-impression {
  padding: 0 15px 25px 15px;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .form-impression {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 0px;
    border-bottom: none;
  }
}
.form-impression__title {
  margin: 20px 0 40px;
  text-align: center;
  font-size: 18px;
}
@media (min-width: 768px) {
  .form-impression__title {
    margin: 0 0 50px 0;
    font-size: 21px;
  }
}
.form-impression__label {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .form-impression__label--singhts {
    width: 230px;
  }
}
@media (min-width: 1200px) {
  .form-impression__label--singhts {
    width: auto;
  }
}
.form-impression-indicator {
  position: relative;
  display: block;
  width: 56px;
  height: 56px;
  margin-right: 22px;
  background-color: #f2f2f2;
}
.form-impression-indicator--radio {
  border-radius: 50%;
}
.form-places {
  padding: 0 15px 25px 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d6d6d6;
}
@media (min-width: 768px) {
  .form-places {
    grid-column: 1/-1;
    padding: 15px 15px 25px 15px;
    margin-bottom: 0px;
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  .form-places {
    margin-top: -20px;
    padding-bottom: 70px;
  }
}
@media (min-width: 768px) {
  .form-places__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 470px;
    margin: 50px auto 0;
  }
}
@media (min-width: 1200px) {
  .form-places__wrapper {
    width: auto;
    margin-top: -20px;
  }
}
.form-emotion {
  margin: 0 30px 58px 20px;
}
@media (min-width: 768px) {
  .form-emotion {
    grid-column: 1/-1;
  }
}
.form-emotion__input {
  width: 100%;
  min-width: 0;
  font-weight: bold;
  font-size: 18px;
  padding-top: 20px;
  padding-left: 10px;
  background-color: #f2f2f2;
  border: none;
  min-height: 160px;
  resize: none;
}
.form-emotion__input:hover {
  background-color: rgb(229, 229, 229);
}
.form-emotion__input:focus {
  background-color: rgb(255, 255, 255);
  border: 4px solid rgb(229, 229, 229);
  outline: none;
}
.form-emotion__input::placeholder {
  color: rgb(0, 0, 0);
}
@media (min-width: 768px) {
  .form-emotion__input {
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  .form-emotion__input {
    margin-top: -10px;
  }
}
.form-button {
  display: block;
  margin: 0 auto;
  padding: 16px 55px;
  align-items: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form-button {
    padding: 16px 77px;
    margin: 0;
  }
}
.form-button:hover {
  background-color: rgb(102, 158, 192);
}
.form-button:active {
  background-color: rgb(84, 150, 189);
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .form-button__wrapper {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin-bottom: 65px;
  }
}

@media (min-width: 1200px) {
  .hidden {
    display: none;
  }
}

.form-impression__input--radio:checked + .form-impression-indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 22px;
  height: 22px;
  margin-top: -11px;
  margin-left: -11px;
  background-color: #333333;
  border-radius: 50%;
}

.form-impression:hover + .form-impression-indicator,
.form-impression:focus + .form-impression-indicator {
  background-color: #D5D5D5;
}

.form-impression__input--checkbox:checked + .form-impression-indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 24px;
  height: 16px;
  margin-top: -8px;
  margin-left: -12px;
  background: url("../img/icon-tick.svg") no-repeat;
}

.form-impression__input--checkbox:checked + .form-impression-indicator:active::before {
  opacity: 0.3;
}

@media (max-width: 768px) {
  .necessarily-field {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -10px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.popup_body {
  display: flex;
  justify-content: center;
  min-height: 100%;
  padding: 30px 10px;
  align-items: center;
}
.popup-open {
  display: inline-block;
}
.popup_content {
  position: relative;
  max-width: 800px;
  padding: 40px 20px 20px 20px;
  background-color: bisque;
  color: brown;
  border: solid brown 3px;
}
@media (min-width: 768px) {
  .popup_content {
    min-width: none;
    padding: 40px 60px 60px 60px;
  }
}
.popup_close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: bold;
  text-decoration: none;
  color: brown;
}
.popup_title {
  margin: 0px 0px 1em 0px;
  text-align: center;
  font-size: 26px;
}
.popup_text {
  text-align: center;
  text-transform: none;
}