@font-face {
  font-family: "PT Sans";
  src: url("fonts/web/ptsans.woff2") format("woff2"), url("fonts/web/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("fonts/web/ptsansbold.woff2") format("woff2"), url("fonts/web/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -10px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.page-header {
  height: auto;
}

.main-nav__list {
  display: grid;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.main-nav__list :nth-child(3) {
  order: 1;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
  }
  .main-nav__list :nth-child(3) {
    order: 0;
  }
}

.site-list__item {
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

.main-nav__list a {
  color: white;
  text-decoration: none;
}
@media (min-width: 768px) {
  .main-nav__list a {
    color: black;
  }
}

.site-list :nth-child(3) {
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
}
@media (min-width: 768px) {
  .site-list :nth-child(3) {
    margin: 0 auto;
    padding: 0 auto;
    position: relative;
  }
}
@media (min-width: 768px) {
  .site-list {
    background-color: white;
  }
}

.page-header__logo-image {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
}
@media (min-width: 768px) {
  .page-header__logo-image {
    width: 450px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
@media (min-width: 1200px) {
  .page-header__logo-image {
    width: 700px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.bold {
  background-color: rgb(129, 179, 210);
  width: 100%;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .bold {
    border: none;
    background-color: #ffffff;
  }
}

.page-header__toggle {
  position: absolute;
  right: 5%;
  bottom: 55%;
  padding: 0;
  cursor: pointer;
  border: none;
  display: block;
  content: "";
  width: 23px;
  height: 4px;
  background-color: #81B3D2;
  box-shadow: 0 9px 0 0 #81B3D2, 0 18px 0 0 #81B3D2;
}
@media (min-width: 768px) {
  .page-header__toggle {
    display: none;
  }
}

.shadow {
  box-shadow: inset 0px -7px 10px -5px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .shadow {
    box-shadow: none;
  }
}

.open {
  display: none;
}
@media (min-width: 768px) {
  .open {
    display: block;
  }
}

.page-header__logo {
  height: 62px;
}

.page-main {
  background-color: #ffffff;
}

.view {
  display: grid;
  min-height: 389px;
  min-width: 320px;
  grid-template-rows: 3fr 1fr;
}
@media (min-width: 768px) {
  .view {
    min-height: 490px;
  }
}
@media (min-width: 1200px) {
  .view {
    min-height: 518px;
  }
}

.view--bg-back {
  background-color: lightblue;
  background: url(../img/bg-back-mobile@2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  .view--bg-back {
    background: url(../img/bg-back-tablet@2x.jpg);
    background-repeat: no-repeat;
    background-position: center -150px;
  }
}
@media (min-width: 1200px) {
  .view--bg-back {
    background: url(../img/bg-back-desktop@2x.jpg);
    background-repeat: no-repeat;
    background-position: center -150px;
  }
}

.view__promo {
  margin-top: 50px;
}

.view__promo--promo {
  background-image: url(../img/text-sedona-index.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.view__mask--mask {
  background-image: url(../img/bg-intro-triangle-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  .view__mask--mask {
    background: url(../img/bg-intro-triangle-tablet.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media (min-width: 1200px) {
  .view__mask--mask {
    background: url(../img/bg-intro-triangle-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.features {
  min-width: 320px;
}

.features__title {
  padding: 55px 50px 55px 50px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .features__title {
    width: 520px;
    margin: auto;
    text-align: center;
  }
}

.features__title--title {
  font-size: 18px;
  line-height: 26px;
}

.features__intro {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 60px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .features__intro {
    width: 520px;
    margin: auto;
    text-align: center;
  }
}

.features__intro--intro {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

.features__list {
  min-width: 320px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .features__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: 0;
  }
  .features__list :nth-child(2) {
    grid-column: 2/-1;
  }
  .features__list :nth-child(6) {
    grid-column: 1/-2;
  }
}

.features__item {
  padding: 27px 20px;
}
@media (min-width: 768px) {
  .features__item {
    min-height: 156px;
    padding: 55px 20px 35px;
  }
}

.features__item-2 {
  min-height: 124px;
  margin: 35px 0;
  padding: 5px 40px 5px 120px;
  margin: 0;
  text-align: start;
}
@media (min-width: 768px) {
  .features__item-2 {
    padding: 0%;
    padding-top: 158px;
    padding-bottom: 41px;
    text-align: center;
  }
}

.features__item--first {
  background-color: #81b3d2;
  color: white;
}

.features__image {
  max-height: 260px;
  max-width: 100%;
}

.features__item--second {
  background-color: #EEEEEE;
  border-bottom: 1px solid #d6d6d6;
}

.reason__image {
  height: 260px;
  width: 100%;
}

@media (min-width: 768px) {
  .features__cause {
    padding-left: 35px;
    padding-right: 35px;
    max-width: 220px;
    text-align: center;
    margin: 15px auto;
  }
}

.booking {
  min-width: 320px;
  margin: auto;
  padding-top: 35px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .booking {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .booking {
    width: 100%;
  }
}

.booking__title {
  width: 261px;
  height: 40px;
  margin: auto;
  text-align: center;
}
@media (min-width: 768px) {
  .booking__title {
    width: 100vh;
  }
}

.booking__description {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .booking__description {
    padding: 0 200px;
  }
}

.booking__button {
  display: block;
  margin: 0 auto;
  padding: 16px 20px 18px 20px;
}

.booking__button--button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  align-items: center;
}

.map {
  background: url(../img/bg-map-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  .map {
    background: url(../img/bg-map-tablet@1x.jpg);
    background-repeat: no-repeat;
  }
}
@media (min-width: 1200px) {
  .map {
    background: url(../img/bg-map-desktop@1x.jpg);
    background-repeat: no-repeat;
  }
}

.page-footer {
  padding: 40px 20px 25px 20px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px 30px 60px;
    align-items: center;
  }
}

.footer__hesh {
  display: block;
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .footer__hesh {
    margin-bottom: 0;
  }
}

.footer__hesh--hesh {
  font-size: 21px;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .footer-buttons {
    margin-bottom: 0;
  }
}

.footer-buttons__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 155px;
  display: flex;
  justify-content: space-between;
}

.footer-buttons__link {
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
  text-decoration: none;
}

.footer-buttons__link--twitter {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 19px;
  height: 28px;
  transform: translate(-50%, -50%);
}

.footer-buttons__link--facebook {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 26px;
  transform: translate(-50%, -50%);
}

.footer-buttons__link--youtube {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 30px;
  transform: translate(-50%, -50%);
}

.footer-log {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-log__by {
  margin-right: 10px;
}

.photo__title {
  text-align: center;
  padding: 30px 20px 30px 20px;
  max-width: 350px;
  margin: 0 auto 20px;
}
@media (min-width: 768px) {
  .photo__title {
    padding: 40px 150px 40px 150px;
  }
}

.photo__title--title {
  font-size: 18px;
}
@media (min-width: 768px) {
  .photo__title--title {
    font-size: 30px;
  }
}

.photo-block {
  max-width: 100%;
  padding-top: 20px;
  border-top: 1px solid #d6d6d6;
}
@media (min-width: 768px) {
  .photo-block {
    border-top: none;
  }
}

.photo {
  list-style: none;
}

.photo-block__list {
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .photo-block__list {
    display: grid;
    padding-left: 60px;
    padding-right: 60px;
    grid-template-columns: repeat(2, 1fr);
  }
  .photo-block__list :nth-child(1) {
    grid-column: 1/-1;
  }
}
@media (min-width: 1200px) {
  .photo-block__list {
    padding-left: 60px;
    padding-right: 60px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.photo-block__item {
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  border-bottom: 1px solid #d6d6d6;
}
@media (min-width: 768px) {
  .photo-block__item {
    border-bottom: none;
    margin-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .photo-block__item {
    position: relative;
    margin-bottom: -6px;
  }
}

.photo-block__image {
  max-height: 280px;
}

.photo-block__title {
  margin: 10px 0;
}

.photo-block__author {
  margin: 0;
  margin-bottom: 10px;
}

.photo-block__info {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .photo-block__info {
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin-top: -6px;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .photo-block__info {
    position: absolute;
    left: 0;
    bottom: 5px;
    z-index: 1;
    max-width: 1080px;
    width: 100%;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .bg-wrapper {
    background-color: #f2f2f2;
  }
}
@media (min-width: 1200px) {
  .bg-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }
}

@media (min-width: 1200px) {
  .photo-block__info--wrapper {
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .photo-block__button--wrapper {
    padding-right: 15px;
  }
}

.photo-block__button--like {
  border: none;
  opacity: 0.3;
  background: none;
}
@media (min-width: 1200px) {
  .photo-block__button--like {
    fill: #ffffff;
    opacity: 1;
  }
}

.photo-block__author--size {
  text-transform: none;
}