.page-header {
    height: auto;
}

.main-nav__list {
    display: grid;
    list-style: none;
    margin: 0px;
    padding: 0px;

    :nth-child(3) {
        order: 1;
    }
    @media (min-width:768px) {
           display:flex;
           :nth-child(3) {
              order: 0;
            }
    }    
}
.site-list__item {
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

.main-nav__list a {
    color: white;
    text-decoration: none;
    @media (min-width:768px) {
        color: black; 
    }
}
.site-list {
   background-color: rgb(129, 179, 210);
   :nth-child(3) {
       margin: 0;
       padding: 0;
       text-align: center;
       position: relative;
       background-color: white;
       box-shadow:0 -7px 7px rgba($color: #000000, $alpha: 0.2);
       @media (min-width:768px) {
        margin: 0 auto;
        padding: 0 auto;
        box-shadow: none;
       }

    }
    @media (min-width:768px) {
        background-color: white;  
    }  
}
.bold {
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    @media (min-width:768px) {
        border: none;
    }

}
.page-header__toggle {
    position: absolute;
    right: 5%;
    bottom: 55%;
    padding: 0;
    cursor: pointer;
    border: none;
    display: block; 
    content: "";
    width: 23px;
    height: 4px;
    background-color:#81B3D2;
    box-shadow: 
    0 9px 0 0 #81B3D2,
    0 18px 0 0 #81B3D2;
    @media (min-width:768px) {
        display: none;
    }
}
.shadow .bold {
    box-shadow: inset 0 7px 0 black;
}
.open {
    display: none;
    @media (min-width:768px){
        display: block;
    }

}


