.footer {
    padding: 40px 0px 25px 0px;
    background-color: #ffffff;  
    @media (min-width:768px) {
        display: flex;
        justify-content: space-between;
        padding: 30px 60px 30px 60px;
        align-items: center;
    } 

    &__hash {
        display: block;
        text-align: center;
        margin-bottom: 40px;
        font-size: 21px;
        @media (min-width:768px) {
            margin-bottom: 0;
        }
    }

    &-buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 30px;
        @media (min-width:768px) {
            margin-bottom: 0;
        }

        &__list {
            display: flex;
            justify-content: space-between;
            width: 155px;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        &__link {
            display: block;
            position: relative;
            width: 48px;
            height: 48px;
            background-color: #81b3d2;
            text-decoration: none; 
                &:hover {
                    background-color: rgb(102, 158, 192);
        
                }
        
                &:active {
                    background-color: rgb(84, 150, 189);
                    svg {
                        opacity: 0.3;
                    }
                }
                
                &--twitter {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 19px;
                    height: 28px;
                    transform: translate(-50%, -50%);
                    fill: #ffffff;
                }
                
                &--facebook {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 13px;
                    height: 26px;
                    transform: translate(-50%, -50%);
                    fill: #ffffff;
                }
                
                &--youtube {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 25px;
                    height: 30px;
                    transform: translate(-50%, -50%);
                    fill: #ffffff;
                }
        }
    }

    &-log {
        display: flex;
        justify-content: center;
        align-items: center;    
    }

    &-log__by {
        margin-right: 10px;
    }
}













