.block-form__title {
    text-align: center;
    padding: 30px 20px 30px 20px;
    max-width: 350px;
    margin: 0 auto;
    @media (min-width:768px) {
        padding-top: 50px;
    }
}

.block-form__title--title {
    @media (min-width:768px) {
        font-size: 30px;
    }
}

.block-form__intro {
    max-width: 350px;
    margin: 0 auto;
    padding: 0px 10px 20px 10px;
    text-align: center;
}

.form {


    border-top: 1px solid #d6d6d6;
    @media (min-width:768px) {
        border-top: none;
    }
}

.form-review {
    padding: 0 15px 25px 15px;
    border-bottom: 1px solid #d6d6d6;
    @media (min-width:768px) {
        border-top: none;
    }
}

.form-review__title {
    text-align: center;
    margin: 20px 0 ;
}

.form-review__title--title {
    font-size: 18px;
    @media (min-width:768px) {
        font-size: 21px;
    }

}

.form-review__item {
    display: flex;
}

.form-review__label {
    align-self: center;
}

.form-review__input {
    width: 100%;
    height: 58px;
    margin-left: 10px;
    border: none;
    background-color: #f2f2f2;
}

.form-review--bold {
color: #000000;
padding-left: 10px;
}

.form-contact {
    padding: 0 15px 25px 15px;
    border-bottom: 1px solid #d6d6d6;
    @media (min-width:768px) {
        border-top: none;
    }
}

.form-contact__input {
    width: 75%;
    height: 58px;
    border: none;
    background-color: #f2f2f2;
    padding: 0 0 0 10px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.form-contact__title {
    text-align: center;
    margin: 20px 0;

}

.form-contact__title--title {
    font-size: 18px;
    @media (min-width:768px) {
        font-size: 21px;
    }

}

.form-contact__label {
    margin-left: 15px;
    line-height: 21px;
    display: block;
}

.form-contact__item {
    margin: 0;    
}

.form__icon {
    display: inline-block;
    width: 58px;
    height: 58px;
    margin-left: -3px;
    vertical-align: middle;
    background-color: #e5e5e5;
    background-repeat: no-repeat;
    background-position: center;
}

.form__icon--telephone {
    background-image: url(../img/icon-phone.svg);
}

.form-impression {
    padding: 0 15px 25px 15px;
    border-bottom: 1px solid #d6d6d6;
    @media (min-width:768px) {
        border-top: none;
    }
}

.form-impression__title {
    text-align: center;
    margin: 20px 0;
}

.form-impression__title--title {
    font-size: 18px;
    @media (min-width:768px) {
        font-size: 21px;
    }

}

.form-impression__label {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
}

.form-impression-indicator {
    position: relative;
    display: block;
    width: 56px;
    height: 56px;
    margin-right: 22px;
    background-color: #f2f2f2;
}

.form-impression__input--radio:checked + .form-impression-indicator::before {
    content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 22px;
        height: 22px;
        margin-top: -11px;
        margin-left: -11px;
        background-color: #333333;
        border-radius: 50%;
}


.form-impression-indicator--radio {
    border-radius: 50%;
}