.photo__title__wrapper {
    max-width: 450px;
    padding: 30px 20px 30px 20px;
    margin: 0 auto 20px;
    text-align: center;
    @media (min-width:768px) {
        padding: 40px 150px 40px 150px;
    }
}

.photo__title {
    font-size: 18px;
    @media (min-width:768px) {
        font-size: 30px;
        line-height: 26px;
    }
}

.photo-block {
    max-width: 100%;
    padding-top: 20px;
    border-top: 1px solid #d6d6d6;
    @media (min-width:768px) {
        border-top: none;
    }
}
.photo {
    list-style: none;
}

.photo-block__list {
    padding: 0;
    margin: 0 auto;
    @media (min-width:768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 60px;
        padding-right: 60px;
            :nth-child(1) {
                grid-column: 1 / -1;
            }
    }
    @media (min-width:1200px) {
        grid-template-columns: repeat(3, 1fr);
        padding-left: 60px;
        padding-right: 60px;
    }
}

.photo-block__item {
    display: block;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d6d6d6;
    @media (min-width:768px) {
        margin-bottom: 0px;
        padding: 0px;
        border-bottom: none;
    }
    @media (min-width:1200px) {
        position: relative;
        margin-bottom: -6px;  
    }
}
.photo-block__image {
    height: 280px;
    min-width: 280px;
    object-fit: cover;
}
.photo-block__image--big {
    @media (min-width:1200px) {
        height: 400px;
    }
}

.photo-block__title {
    margin: 10px 0;
}

.photo-block__author {
    margin: 0;
    margin-bottom: 10px;
    text-transform: none;
}

.photo-block__info {
margin-bottom: 20px;
@media (min-width:768px) {
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin-top: -6px;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    background-color: #f2f2f2;
}
    @media (min-width:1200px) {
        position: absolute;
        left: 0;
        bottom: 5px;
        z-index: 1;
        max-width: 1080px;
        width: 100%;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.3);
        color: #ffffff;
    }
}

.photo-block__info__wrapper {
    @media (min-width:1200px) {
        padding-left: 15px;
    }

}

.photo-block__button__wrapper {
    display: flex;
    align-items: center;
    @media (min-width:768px) {
        padding-right: 25px;
    }
}


.photo-block__button {
    border: none;
    opacity: 0.3;
    background: none;
    cursor: pointer;
    @media (min-width:1200px) {
        fill: #ffffff;
        opacity: 1.0;
    }
}

.liked {
    fill: red;
    opacity: 1.0;
}