.booking {
    margin: 35px auto 50px;

    @media (min-width:768px) {
        width: 100%;
        margin-bottom: 60px;
    }
    @media (min-width:1200px) {
        width: 100%;
    }

    &__title {
        width: 261px;
        height: 40px;
        margin: auto;
        text-align: center;
    }

    &__description {
        min-width: 230px;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
        @media (min-width:768px) {
            padding: 0 150px;
        }
    }

    &__button {
        display: block;
        width: 280px;
        margin: 0 auto;
        padding: 16px 20px 18px 20px;
        font-size: 21px;
        line-height: 26px;
        align-items: center;
        font-weight: bold;
        background-color: #81b3d2;
        color: #ffffff;
        border: none;
        text-transform: uppercase;
        @media (min-width:768px) {
            width: 460px;
        }
            &:hover {
                background-color: rgb(102, 158, 192);
    
            }
    
            &:active {
                background-color: rgb(84, 150, 189);
                color: rgba(256, 256, 256, 0.3);
            }
    }
}

.map {
    background: url(../img/bg-map-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-width:768px) {
        background: url(../img/bg-map-tablet@1x.jpg);
        background-repeat: no-repeat;
    }
    @media (min-width:1200px) {
        background: url(../img/bg-map-desktop@1x.jpg);
        background-repeat: no-repeat;
    }
}